/* This is all ZenPhoto Specifix */


/* Image Thumbnails
------------------------------ */

#thumb.not_visible {
	    border: 5px dashed #CC3333;
}

.imagethumb a, .imagethumb a:hover {
	display: block;
	margin: 2px;
	line-height: 0px;
}

.imagethumb {
	float: left;
}
.albumdesc2 {
	line-height: 18px;
}

.imagethumb ul li { list-style: none; float: left;display: inline; }

/* Album Thumbnails
------------------------------ */

.album, .indexalbum {
	margin: 0 10px 0 0;
	padding-top: 5px;
	width: 200px;
	display: inline-block;
	vertical-align: top;
	border-top: 2px solid #ddd;
}

.album h3, .indexalbum h3 {
	text-align:center;
}

.album .thumb {
	text-align: center;
}

.album h3, .indexalbum h3 {
	padding: 10px 0 0 0;
	margin: 0;
	font-weight: bold;
	font-size: 18px;
}
.album p {
	padding: 4px 0px 0px;
	margin: 0px;
}

.albumdesc small {
	color: #8DB8CF;
}

.albumdesc h3 {
	margin: 5px!important;
}

.albumdesc {
	margin-bottom: 10px;
}

#imagemetadata {
	text-align: right;
	position: relative;
	display: none;
}

#imagemetadata table {
	text-align: left;
	line-height: 1em;
	border: 1px solid #ccc;
	position: absolute;
	top: 2em;
	right: 0px;
	background-color: #fafafa;
}

#imagemetadata table td {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f8f8f8;
	padding: 2px 5px;
}


/* Individual Image
------------------------------ */
.image {
	margin: 0;
	padding: 0;
	border: 0;
}
#image {
	text-align: center;
	line-height: 0;
}

.imgnav div {
	display: inline;
	clear: both;
}

.imgnav .imgprevious a:hover, .imgnav .imgnext a:hover {
	text-decoration: none;
	color: #002E5B;
}

.imgnav .imgprevious a, .imgnav .imgnext a {
	border-bottom: none;
}

.imgprevious, .imgnext {
	padding-right: 20px;
}

#narrow {
	margin: 0 auto;
	width: 440px;
}

.disabledlink {
	color: #ddd;
	cursor: default;
}

.albumtitle H3 {
	margin: 0px;
	padding: 0px;
}

div#imagedesc { padding-top:20px;}

.downloadline {
	font-size: 90%;
	text-align: center;
}

.byline {
	padding-bottom: 10px;
}

/* Misc */

.error {
	color: #C33;
	font-weight: bold;
}

#admin, #admin_data {
	border-left: 1px solid #E6E6DF;
	border-bottom: 1px solid #E6E6DF;
	background: #fff;
	width: 120px;
}

#admin, #admin_data ul {
	margin: 10px 0 0 0;
	padding: 0 0 5px 10px;
}

#admin_data {
	top: 15px;
}

/* Search */

.clear {
	clear: both;
	height: 10px;
}

#map {
	margin-top: 25px;
}

#imagemetadata {
	text-align: right;
	position: relative;
	display: none;
}

#imagemetadata table {
	text-align: left;
	line-height: 1em;
	border: 1px solid #ccc;
	position: absolute;
	top: 2em;
	right: 0;
	background-color: #fafafa;
}

#imagemetadata table td {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f8f8f8;
	padding: 2px 5px;
}

#fullsize_download_link {
	font-size: 8pt;
	text-align: right;
	float: right;
}

#meta_link {
	font-size: 8pt;
	text-align: left;
	float: left;
}

#image_data {
	margin-bottom: 15px;
}

/* Archive View  */
#archive {
	width: 300px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

ul.archive * {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.archive .year {
	margin-top: 10px;
	text-align: center;
	color: #FF6600;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
}

ul.archive .month {
	font-size: 14px;
	list-style: none;
	border-top: 2px solid #E6E6DF;
	padding-top: 5px;
}

/* Tag Cloud */
#tag_cloud {
	text-align: center;
	background: #eee;
	margin-bottom: 15px;
}

#tag_cloud ul li {
	display: inline;
	list-style-type: none;
}

#tag_cloud p {
	color: #FF6600;
	padding: 10px 0;
	margin: 20px 0;
	background: #fff;
	border-top: 3px solid #E6E6DF;
	border-bottom: 3px solid #E6E6DF;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

/* Tags */
.taglist ul {
	display: inline;
	list-style-type: none;
}

.taglist li {
	background: url(tag.png) no-repeat left center;
	list-style-type: none;
	line-height: 18px;
	padding-left: 18px;
	float: left;
	padding-right: 5px;
}

.taglist .tags_title {
	background: none;
	padding-right: 5px;
	padding-left: 0;
}

.rating {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Error Messages
------------------------------ */
.errorbox {
	padding: 20px;
	background-color: #FDD;
	border-top: 1px solid #FAA;
	border-left: 1px solid #FAA;
	border-right: 1px solid #FAA;
	border-bottom: 5px solid #FAA;
	margin-bottom: 10px;
	font-size: 100%;
	color: #DD6666;
}

.errorbox h2 {
	color: #DD6666;
	font-size: 100%;
	font-weight: bold;
	margin: 0px;
}

/* Zenphoto link
------------------------------ */

#zen-part {
 font-family: Arial, Helvetice, sans-serif;
 font-size: 2em;
 font-weight: 100;
}

#photo-part {
font-family: Arial, Helvetice, sans-serif;
 font-size: 0.9em;
 font-weight: bold;
}

/* login form */
table.password td.userlabel{
	text-align:right;
}
table.password td.userinput{
	text-align:left;
}

table.password td.userinput input, td.passwordinput input {
	width: 15em;
}

/* login form */
table.password td.passwordlabel{
	text-align:right;
}

table.password td.passwordinput{
	text-align:left;
}

table.password td.submit{
	text-align:center;
}

table.password td.hint{
	text-align:left;
}

/* Editable length */
.zp_editable {
	width: 250px;
}

/* Admin Toolbox
 * ------------------------------ */

#admin {
	z-index: 10;
	margin: 49px 0 0 0;
}

#admin, #admin_data{
	    position: fixed;
	    right: 5px;
	    top: 0px;
	    width: 130px;
	    border-bottom: 1px solid #E6E6DF;
	    border-left: 1px solid #E6E6DF;
	    background: #fff;
	    text-align: left;
}
#admin_data{
	    top: 0px;
	    padding-top: 69px;
	    z-index: 9;
	    line-height: 1.2em;
	    font-size: 15px;
}
#admin h3 {
	    font-weight: normal;
	    color: #999;
	    margin:0;
	    padding:0;
	    text-align: center;
	    font-size: 18px;
}
#admin h3:hover { color: #036;}

/* Videos */

.zen-video {
	min-height: 270px;
}

div.imagethumb p a, div.imagethumb p a:hover {
	/* font-weight: normal; */
	border: none;
	margin-top: 15px;
}

/* Pager */

.pager {
	margin: 18px 0px;
	list-style: none;
	text-align: center;
	*zoom: 1;
}
.pager:before,
.pager:after {
	display: table;
	content: "";
}
.pager:after {
	clear: both;
}
.pager li {
	display: inline;
}
.pager a {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.pager a:hover {
	text-decoration: none;
	background-color: #f5f5f5;
}
.pager .next a {
	float: right;
}
.pager .previous a {
	float: left;
}
.pager .disabled a,
.pager .disabled a:hover {
	color: #999999;
	background-color: #fff;
	cursor: default;
}
