/* JFO */

.sidebar-primary {
    float: none !important;
}

/* Navigation */

ul.pagelist {
	display: inline;
	list-style-type: none;
}

div.pagelist li {
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	background: #333;
	border: 1px solid #FFF;
	color: #FFF;
}

div.pagelist li a {
	color: #FFF;
	border-bottom: none;
}

div.pagelist li:hover {
	background: #FFF;
	border: 1px solid #333;
	color: #333;
}

div.pagelist li a:hover {
	color: #333;
}


div.pagelist li.current {
	background: #555;
	border: 1px solid #FFF;
	color: #FFF;
	cursor: none;
}

/* Image Thumbnails
------------------------------ */

#thumb.not_visible {
        border: 5px dashed #CC3333;
}

.imagethumb a, .imagethumb a:hover {
	display: block;
	margin: 0px 9px 9px 0px;
	line-height: 0px;
}

.imagethumb {
	float: left;
	padding: 0 0 5px 0;
}
.albumdesc2 {
	line-height: 18px;
}

.imagethumb ul li { list-style: none; float: left;display: inline; }

/* Album Thumbnails
------------------------------ */
/*
#albums, #images {
	padding: 0 12px 0 40px;
	padding: 0 0.75rem 0 2.5rem;
}
*/

.album, .indexalbum {
	margin: 5px;
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.album h3, .indexalbum h3 {
	text-align:center;
}

.album .thumb {
    text-align: center;
}

.album h3, .indexalbum h3 {
	padding: 10px 0 0 0;
	margin: 0;
	font-weight: bold;
	font-size: 20px;
}
.album p {
    padding: 4px 0px 0px;
    margin: 0px;
}

.albumdesc small {
	color: #8DB8CF;
}

#imagemetadata {
  text-align: right;
  position: relative;
  display: none;
}

#imagemetadata table {
  text-align: left;
  line-height: 1em;
  border: 1px solid #ccc;
  position: absolute;
  top: 2em;
  right: 0px;
  background-color: #fafafa;
}

#imagemetadata table td {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f8f8f8;
  padding: 2px 5px;
}


/* Individual Image
------------------------------ */
.image {
	margin: 0;
	padding: 0;
	border: 0;
}
#image {
	text-align: center;
	line-height: 0;
}
.imgnav {
	float: right;
	width: 140px;
	text-align: center;
	border: none;
	background: none;
	margin-top: 10px;
}
.imgnav .imgprevious a, .imgnav .imgnext a {
	display: block;
	width: 50%;
	height: 100%;
	float: left;
	padding: 4px 0;
	font-size: 120%;
	text-decoration: none;
	line-height: 180%;
}
.imgnav .imgprevious a:hover, .imgnav .imgnext a:hover {
	text-decoration: none;
	color: #002E5B;
}
.imgnav .imgprevious a {
	float: left;
}
.imgnav .imgnext a {
	float: right;
}
#narrow {
	margin: 0 auto;
	width: 440px;
}

.disabled_nav {
	visibility: hidden;
}

.navigation .disabledlink {
    visibility: hidden;
}

.disabledlink {
	color: #ddd;
	cursor: default;
}

.albumtitle H3 {
	margin: 0px;
	padding: 0px;
}

div#imagedesc { padding-top:20px;}

.error {
	color: #C33;
	font-weight: bold;
}

#admin, #admin_data {
	border-left: 1px solid #E6E6DF;
	border-bottom: 1px solid #E6E6DF;
	background: #fff;
	width: 120px;
}

#admin, #admin_data ul {
    margin: 10px 0 0 0;
    padding: 0 0 5px 10px;
}

#admin_data {
	top: 15px;
}

#search {
	text-align:left;
}

#search a {
	text-decoration: none;
}

img#searchfields_icon, input#search_submit.pushbutton {
	display:none;
}

#search ul {
border: 1px solid #ccc; position:absolute; text-align:left; list-style: none;
height: 8em; width: 20em; overflow: auto;
color: black;
background:white;
}

#search_submit {
	display:none;
}

.clear {
	clear: both;
	height: 10px;
}

#map {
	margin-top: 25px;
}

#imagemetadata {
	text-align: right;
	position: relative;
	display: none;
}

#imagemetadata table {
	text-align: left;
	line-height: 1em;
	border: 1px solid #ccc;
	position: absolute;
	top: 2em;
	right: 0;
	background-color: #fafafa;
}

#imagemetadata table td {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f8f8f8;
	padding: 2px 5px;
}

#fullsize_download_link {
	font-size: 8pt;
	text-align: right;
	float: right;
}

#meta_link {
	font-size: 8pt;
	text-align: left;
	float: left;
}

#image_data {
	margin-bottom: 15px;
}

/* Archive View  */
#archive {
	width: 300px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

ul.archive * {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.archive .year {
	margin-top: 10px;
	text-align: center;
	color: #FF6600;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
}

ul.archive .month {
	font-size: 14px;
	list-style: none;
	border-top: 2px solid #E6E6DF;
	padding-top: 5px;
}

/* Tag Cloud */
#tag_cloud {
	text-align: center;
	background: #eee;
	margin-bottom: 15px;
}

#tag_cloud ul li {
	display: inline;
	list-style-type: none;
}

#tag_cloud p {
	color: #FF6600;
	padding: 10px 0;
	margin: 20px 0;
	background: #fff;
	border-top: 3px solid #E6E6DF;
	border-bottom: 3px solid #E6E6DF;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

/* Tags */
.taglist ul {
	display: inline;
	list-style-type: none;
}

.taglist li {
	background: url(tag.png) no-repeat left center;
	list-style-type: none;
	line-height: 18px;
	padding-left: 18px;
	float: left;
	padding-right: 5px;
}

.taglist .tags_title {
	background: none;
	padding-right: 5px;
	padding-left: 0;
}

.rating {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Error Messages
------------------------------ */
.errorbox {
	padding: 20px;
	background-color: #FDD;
	border-top: 1px solid #FAA;
	border-left: 1px solid #FAA;
	border-right: 1px solid #FAA;
	border-bottom: 5px solid #FAA;
	margin-bottom: 10px;
	font-size: 100%;
	color: #DD6666;
}

.errorbox h2 {
	color: #DD6666;
	font-size: 100%;
	font-weight: bold;
	margin: 0px;
}

/* Zenphoto link
------------------------------ */

#zen-part {
 font-family: Arial, Helvetice, sans-serif;
 font-size: 2em;
 font-weight: 100;
}

#photo-part {
font-family: Arial, Helvetice, sans-serif;
 font-size: 0.9em;
 font-weight: bold;
}

/* login form */
table.password td.userlabel{
	text-align:right;
}
table.password td.userinput{
	text-align:left;
}

table.password td.userinput input, td.passwordinput input {
	width: 15em;
}

/* login form */
table.password td.passwordlabel{
	text-align:right;
}

table.password td.passwordinput{
	text-align:left;
}

table.password td.submit{
	text-align:center;
}

table.password td.hint{
	text-align:left;
}

/* Editable length */
.zp_editable {
	width: 250px;
}

/* Admin Toolbox
 * ------------------------------ */

#admin {
    z-index: 10;
    margin: 49px 0 0 0;
}

#admin, #admin_data{
        position: fixed;
        right: 5px;
        top: 0px;
        width: 130px;
        border-bottom: 1px solid #E6E6DF;
        border-left: 1px solid #E6E6DF;
        background: #fff;
        text-align: left;
}
#admin_data{
        top: 0px;
        padding-top: 69px;
        z-index: 9;
        line-height: 1.2em;
        font-size: 15px;
}
#admin h3 {
        font-weight: normal;
        color: #999;
        margin:0;
        padding:0;
        text-align: center;
        font-size: 18px;
}
#admin h3:hover { color: #036;}