/* Fans of LeFox */

#logo{
	position:absolute;
	top:0;
	left:0;
	width: 60px;
	margin: 5px;
}


.breadcrumb a, .current-menu-item a, .menu-secondary-container a, .site-footer p a, .albumdesc a {
	color: #107952!important;
}

main.content {
	float: left;
}

aside.sidebar {
	float: right!important;
}

.entry-content .has-primary-color {
	color: #107952 !important;
}

.entry-content .has-primary-background-color {
	background-color: #107952 !important;
}

.content .wp-block-button.is-style-outline .wp-block-button__link:focus,
.content .wp-block-button.is-style-outline .wp-block-button__link:hover {
	border: 2px solid #107952 !important;
	color: #107952 !important;
}

.content .wp-block-button .wp-block-button__link:focus,
.content .wp-block-button .wp-block-button__link:hover {
	background-color: #107952;
	color: #fff;
}

.entry-content .wp-block-pullquote.is-style-solid-color {
	background-color: #107952;
}

.single .content .entry-content > p:first-of-type {
	color: #111111;
	font-size: 20px;
	font-size: 2rem;
	font-style: italic;
	line-height: 1.7;
	margin: 0 0 35px;
}

a,
h4,
h5,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.authority-subtitle,
.button,
.genesis-nav-menu .highlight a,
.more-link,
.entry-title a:focus,
.entry-title a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-responsive-menu .genesis-nav-menu a:focus,
.genesis-responsive-menu .genesis-nav-menu a:hover,
.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	color: #107952;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.genesis-nav-menu .highlight a,
.more-link {
	border-color: #107952;
}

.enews-widget::after,
.sidebar .enews-widget:nth-child(2n+1)::after {
	background: #107952;
}

button.primary,
input[type="button"].primary,
input[type="reset"].primary,
input[type="submit"].primary,
.authority-top-banner,
.button.primary,
.more-link,
.sidebar .enews-widget input[type="submit"],
.enews-widget input[type="submit"] {
	background-color: #107952!important;
	color: #ffffff;
	height: 75px!important;
}

.authority-top-banner a,
.authority-top-banner a:focus,
.authority-top-banner a:hover,
#authority-top-banner-close,
#authority-top-banner-close:focus,
#authority-top-banner-close:hover {
	color: #ffffff;
}

.archive-pagination .pagination-next > a,
.archive-pagination .pagination-previous > a,
.menu-toggle,
.sub-menu-toggle {
	border-color: #107952;
	color: #107952;
}

a.button:focus,
a.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination .active a,
.archive-pagination .pagination-next > a:focus,
.archive-pagination .pagination-next > a:hover,
.archive-pagination .pagination-previous > a:focus,
.archive-pagination .pagination-previous > a:hover,
.button:focus,
.button:hover,
.enews-widget input[type="submit"]:focus,
.enews-widget input[type="submit"]:hover,
.genesis-nav-menu .highlight a:focus,
.genesis-nav-menu .highlight a:hover,
.menu-toggle:focus,
.menu-toggle:hover,
.more-link:focus,
.more-link:hover,
.sidebar .enews-widget input[type="submit"]:focus,
.sidebar .enews-widget input[type="submit"]:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	background-color: #248d66;
	border-color: #248d66;
	color: #ffffff;
}


.site-inner .widget_media_image::after,
.site-inner .hero-section-column.right::after {
	background: #107952;
}

.site-inner .hero-portrait-caption a:focus,
.site-inner .hero-portrait-caption a:hover {
	color: #107952;
}

.sidebar-primary {
	float: right;
}

div.footer-widgets svg {
	max-width: 50px;
	max-height: 50px;
}
#authority-top-banner-close {
	display:none;
}

/* Image Thumbnails
------------------------------ */

#thumb.not_visible {
	    border: 5px dashed #CC3333;
}

.imagethumb a, .imagethumb a:hover {
	display: block;
	margin: 2px;
	line-height: 0px;
}

.imagethumb {
	float: left;
}
.albumdesc2 {
	line-height: 18px;
}

.imagethumb ul li { list-style: none; float: left;display: inline; }

/* Album Thumbnails
------------------------------ */

.album, .indexalbum {
	margin: 5px;
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.album h3, .indexalbum h3 {
	text-align:center;
}

.album .thumb {
	text-align: center;
}

.album h3, .indexalbum h3 {
	padding: 10px 0 0 0;
	margin: 0;
	font-weight: bold;
	font-size: 18px;
}
.album p {
	padding: 4px 0px 0px;
	margin: 0px;
}

.albumdesc small {
	color: #8DB8CF;
}

#imagemetadata {
	text-align: right;
	position: relative;
	display: none;
}

#imagemetadata table {
	text-align: left;
	line-height: 1em;
	border: 1px solid #ccc;
	position: absolute;
	top: 2em;
	right: 0px;
	background-color: #fafafa;
}

#imagemetadata table td {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f8f8f8;
	padding: 2px 5px;
}


/* Individual Image
------------------------------ */
.image {
	margin: 0;
	padding: 0;
	border: 0;
}
#image {
	text-align: center;
	line-height: 0;
}

.imgnav div {
	display: inline;
	clear: both;
}

.imgnav .imgprevious a:hover, .imgnav .imgnext a:hover {
	text-decoration: none;
	color: #002E5B;
}

.imgnav .imgprevious a, .imgnav .imgnext a {
	border-bottom: none;
}

.imgprevious, .imgnext {
	padding-right: 20px;
}

#narrow {
	margin: 0 auto;
	width: 440px;
}

.disabledlink {
	color: #ddd;
	cursor: default;
}

.albumtitle H3 {
	margin: 0px;
	padding: 0px;
}

div#imagedesc { padding-top:20px;}

.downloadline {
	font-size: 90%;
	text-align: center;
}

.byline {
	padding-bottom: 10px;
}

/* Misc */

.error {
	color: #C33;
	font-weight: bold;
}

#admin, #admin_data {
	border-left: 1px solid #E6E6DF;
	border-bottom: 1px solid #E6E6DF;
	background: #fff;
	width: 120px;
}

#admin, #admin_data ul {
	margin: 10px 0 0 0;
	padding: 0 0 5px 10px;
}

#admin_data {
	top: 15px;
}

/* Search */

.clear {
	clear: both;
	height: 10px;
}

#map {
	margin-top: 25px;
}

#imagemetadata {
	text-align: right;
	position: relative;
	display: none;
}

#imagemetadata table {
	text-align: left;
	line-height: 1em;
	border: 1px solid #ccc;
	position: absolute;
	top: 2em;
	right: 0;
	background-color: #fafafa;
}

#imagemetadata table td {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f8f8f8;
	padding: 2px 5px;
}

#fullsize_download_link {
	font-size: 8pt;
	text-align: right;
	float: right;
}

#meta_link {
	font-size: 8pt;
	text-align: left;
	float: left;
}

#image_data {
	margin-bottom: 15px;
}

/* Archive View  */
#archive {
	width: 300px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

ul.archive * {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.archive .year {
	margin-top: 10px;
	text-align: center;
	color: #FF6600;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
}

ul.archive .month {
	font-size: 14px;
	list-style: none;
	border-top: 2px solid #E6E6DF;
	padding-top: 5px;
}

/* Tag Cloud */
#tag_cloud {
	text-align: center;
	background: #eee;
	margin-bottom: 15px;
}

#tag_cloud ul li {
	display: inline;
	list-style-type: none;
}

#tag_cloud p {
	color: #FF6600;
	padding: 10px 0;
	margin: 20px 0;
	background: #fff;
	border-top: 3px solid #E6E6DF;
	border-bottom: 3px solid #E6E6DF;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

/* Tags */
.taglist ul {
	display: inline;
	list-style-type: none;
}

.taglist li {
	background: url(tag.png) no-repeat left center;
	list-style-type: none;
	line-height: 18px;
	padding-left: 18px;
	float: left;
	padding-right: 5px;
}

.taglist .tags_title {
	background: none;
	padding-right: 5px;
	padding-left: 0;
}

.rating {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Error Messages
------------------------------ */
.errorbox {
	padding: 20px;
	background-color: #FDD;
	border-top: 1px solid #FAA;
	border-left: 1px solid #FAA;
	border-right: 1px solid #FAA;
	border-bottom: 5px solid #FAA;
	margin-bottom: 10px;
	font-size: 100%;
	color: #DD6666;
}

.errorbox h2 {
	color: #DD6666;
	font-size: 100%;
	font-weight: bold;
	margin: 0px;
}

/* Zenphoto link
------------------------------ */

#zen-part {
 font-family: Arial, Helvetice, sans-serif;
 font-size: 2em;
 font-weight: 100;
}

#photo-part {
font-family: Arial, Helvetice, sans-serif;
 font-size: 0.9em;
 font-weight: bold;
}

/* login form */
table.password td.userlabel{
	text-align:right;
}
table.password td.userinput{
	text-align:left;
}

table.password td.userinput input, td.passwordinput input {
	width: 15em;
}

/* login form */
table.password td.passwordlabel{
	text-align:right;
}

table.password td.passwordinput{
	text-align:left;
}

table.password td.submit{
	text-align:center;
}

table.password td.hint{
	text-align:left;
}

/* Editable length */
.zp_editable {
	width: 250px;
}

/* Admin Toolbox
 * ------------------------------ */

#admin {
	z-index: 10;
	margin: 49px 0 0 0;
}

#admin, #admin_data{
	    position: fixed;
	    right: 5px;
	    top: 0px;
	    width: 130px;
	    border-bottom: 1px solid #E6E6DF;
	    border-left: 1px solid #E6E6DF;
	    background: #fff;
	    text-align: left;
}
#admin_data{
	    top: 0px;
	    padding-top: 69px;
	    z-index: 9;
	    line-height: 1.2em;
	    font-size: 15px;
}
#admin h3 {
	    font-weight: normal;
	    color: #999;
	    margin:0;
	    padding:0;
	    text-align: center;
	    font-size: 18px;
}
#admin h3:hover { color: #036;}

/* Videos */

.zen-video {
	min-height: 270px;
}

div.imagethumb p a, div.imagethumb p a:hover {
	/* font-weight: normal; */
	border: none;
	margin-top: 15px;
}

/* Pager */

.pager {
	margin: 18px 0px;
	list-style: none;
	text-align: center;
	*zoom: 1;
}
.pager:before,
.pager:after {
	display: table;
	content: "";
}
.pager:after {
	clear: both;
}
.pager li {
	display: inline;
}
.pager a {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.pager a:hover {
	text-decoration: none;
	background-color: #f5f5f5;
}
.pager .next a {
	float: right;
}
.pager .previous a {
	float: left;
}
.pager .disabled a,
.pager .disabled a:hover {
	color: #999999;
	background-color: #fff;
	cursor: default;
}
